[project]
	description = A node package for css url versioner
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jan Sanchez (jansanchez)
[access "refs/for/refs/*"]
	read = group user/Jan Sanchez (jansanchez)
	push = group user/Jan Sanchez (jansanchez)
	label-Code-Review = -2..+2 group user/Jan Sanchez (jansanchez)
	label-Verified = -1..+1 group user/Jan Sanchez (jansanchez)
	rebase = group user/Jan Sanchez (jansanchez)
	removeReviewer = group user/Jan Sanchez (jansanchez)
	submit = group user/Jan Sanchez (jansanchez)
[access "refs/heads/*"]
	read = group user/Jan Sanchez (jansanchez)
	create = group user/Jan Sanchez (jansanchez)
	push = +force group user/Jan Sanchez (jansanchez)
	pushMerge = group user/Jan Sanchez (jansanchez)
[access "refs/tags/*"]
	push = +force group user/Jan Sanchez (jansanchez)
	pushTag = group user/Jan Sanchez (jansanchez)
	pushSignedTag = group user/Jan Sanchez (jansanchez)
